@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap");

.app {
  text-align: center;
  background-color: #eceffc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
